@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Passero+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #30333A; */
  width: 60vw;
  background-color: rgb(0, 0, 0);
  /* background: url('img/bg2.jpg'); */

  /* padding   : 50px; */
  color: #fff;
  margin: auto;
}

/* .wrapper {
    position : absolute;
    top      : 50%;
    left     : 45%;
    transform: translate(-50%, -50%);
} */

/*  */
/*  */
/* Utility Classes */
/*  */
/*  */
.primary-color {
  color: #ff0000;
}

.font-2 {
  font-family: raleway, sans-serif;
}

img {
  display: block;
  height: 20px;
  background: transparent;
  width: 20px;
}

.me {
  margin: 50px 0 30px 0;
  display: flex;
  width: 60vw;
  position: relative;
  /* left           : 50%; */
  /* border         : 2px solid tomato; */
  justify-content: flex-start;
}

.me-img {
  /* padding: 20px; */
  width: 400px;
  height: 480px;
}

.me img {
  display: block;
  height: 431.25px;
  width: 325.5px;

  box-shadow: 5px 5px rgb(255, 0, 0);
}

.me-txt {
  margin-top: 30px;
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Passero One", "Raleway";
}

.me-txt h2 {
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
  /* font-style : italic; */
  line-height: 100px;
  letter-spacing: 5px;
  word-spacing: 15px;
}

.me-txt pre {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: Raleway;
}

.social {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  position: relative;
  /* left     : 300px; */
  width: 20vw;
  display: flex;
  /* height   : 100vh; */

  /* flex-direction: column; */
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
}

ul {
  list-style: none;
}

ul li {
  width: 50px;
  height: 50px;
  position: relative;
  background: #d15050;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

ul li i,
ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

ul li.facebook {
  background: #3b5998;
}

ul li.twitter {
  background: #00aced;
}

ul li.instagram {
  background: #bc2a8d;
}
ul li.linkedin {
  background: #0077b5;
}
ul li.google {
  background: #dd4b39;
}

ul li.whatsapp {
  background: #4dc247;
}

ul li.telegram {
  background: #32afed;
}

ul li.repl {
  background: #f0efef;
}
ul li.sololearn {
  background: #e6bebe;
}

ul li.hackerrank {
  background: #00ff55;
}

ul li.facebook div.slider {
  background: #627aac;
}

ul li.twitter div.slider {
  background: #7fd5f6;
}

ul li.instagram div.slider {
  background: #dd94c6;
}

ul li.google div.slider {
  background: #ffffff;
}

ul li.whatsapp div.slider {
  background: #82d47e;
}

ul li.telegram div.slider {
  background: #2b6683;
}
ul li.google div p,
ul li.linkedin div p,
ul li.protonmail div p,
ul li.github div p,
ul li.repl div p,
ul li.sololearn div p,
ul li.hackerrank div p {
  background: #fff;
  color: #000;
}
.slider {
  content: "";
  position: absolute;
  top: 0;
  left: 60px;
  width: 0px;
  height: 50px;
  background: #ff0000;
  border-radius: 3px;
  transition: all 0.5s 0.3s ease;
}

.slider p {
  font-family: arial;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  transition: all 0.6s ease;
}

ul li:hover .slider {
  width: 180px;
  transition: all 0.5s ease;
}

ul li:hover .slider p {
  opacity: 1;
  transition: all 1s 0.2s ease;
}

@media (max-width: 500px) {
  .wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
  }

  .social {
    flex-direction: column;
    /* gap        : 10px; */
  }
}
